/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */
* {
	box-sizing: border-box;
}
body {
	background-color: #F2F2F2;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
    z-index: 100;
    border-bottom: 1px solid #000;
    transform: translate3d(0,0,0);
}
.black-bg {
	background-color: #424A5D;	
}
#container {
	width: 100%;
	height: 100%;
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 20;
    padding: 5% 5% 100% 0;
    color: white;
    background-color: #424A5D;
}
.sidebar-toggle {
	z-index: 10;
}
.fa-bars {
	display: inline;
	font-size: 30px;
}
aside div ul li {
	list-style: none;
	background: #68dff0;
	display: block;
}

aside div ul li a {
	text-decoration: none;

}
.wrapper {
	display: inline-block;
    margin-top: 60px;
    padding: 0px 14px 14px 14px<
    width: 100%;
}
.logo {
	color: #fff;
}
.bg-theme {
	background: #41cac0;
}